---
---
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="./assets/css/style.css">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
    </script>
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="Margins">
      <p class="LatexTitle">{{ page.title }}</p>
      {% if page.author %} <p class="LatexName">{{ page.author }}</p> {% endif %}
      {% if page.date %} <p class="LatexDate">{{ page.date }}</p> {% endif %}
      <p class="LatexDate"><a>Paper</a> | <a href="https://github.com/osqarrupc/OPF_realtime" target="_blank" title="Currently private, will be made public upon publication">Code</a><span title="Currently private, will be made public upon publication">⚠️</span></p>
      <!-- <p class="LatexDate"><a>Paper</a> | <a href="https://github.com/osqarrupc/OPF_realtime" target="_blank">Code</a> | <a href="/assets/docs/index.html" target="_blank">Docs</a></p> -->
      
      <!-- {% if page.abstract %}<div class="AbstractMargins">
        <p class="LatexAbstract">Abstract</p>
        <p class="LatexAbstractText">{{ page.abstract }}</p>
      </div>{% endif %} -->

      
      {{ content }}


    </div>
    <script type="module" src="/assets/js/optimization.js"></script>
  </body>
  <footer class="footerSize">

  </footer>
</html>